<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <style>
        .menu-container {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags  %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="menu-container">
        <div>
            <div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
            <div>
                <a href="{% url 'io-archive' %}">Activities</a>
            </div>
            <div>
                <a href="{% url 'io' %}">Time and Attendance</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% else %}
    {% block no_menu %}
    {% endblock %}
    {% endif %}


    
</body>
</html>