{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #334180;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #5d74ba;
        color: white;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>
        <div style="color: white">
          <a href="/">
            <img
              src="{% static 'images/logo.png' %}"
              alt="Logo"
              weight="50"
              height="50"
            />
          </a>
          Attendance System
        </div>
        {% if request.user.is_authenticated %}
      </li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li><a href="{% url 'view-profile' %}">Edit</a></li>

      {% else %}
      <li><a href="#home">Home</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
    {% endif %}
  </body>
</html>
