{% load static %}

<div>
  <ul
    style="
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #334180;
    "
  >
    <li style="float: left">
      <div style="color: white">
        <!-- <a href="/"> -->
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo"
          weight="50"
          height="50"
        />
        <!-- </a> -->
        Attendance System
      </div>
    </li>
    <li style="float: left">
      <a
        href="{% url 'home' %}"
        style="
          display: block;
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        "
        onMouseOver="this.style.color='#5d74ba'"
        onMouseOut="this.style.color='white'"
        >Home</a
      >
    </li>
    {% if request.user.is_authenticated %}
    <li style="float: left">
      <a
        href="{% url 'logout' %}"
        style="
          display: block;
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        "
        onMouseOver="this.style.color='#5d74ba'"
        onMouseOut="this.style.color='white'"
        >Logout</a
      >
    </li>

    {% else %}
    <li style="float: left">
      <a
        href="{% url 'login' %}"
        style="
          display: block;
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        "
        onMouseOver="this.style.color='#5d74ba'"
        onMouseOut="this.style.color='white'"
        >Login</a
      >
    </li>
  </ul>
  {% endif %}
</div>
