<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    <div>{%include "navbar.html" %}</div>
    <!-- Section: Design Block -->
    <section class="text-center">
      <!-- Background image -->
      <div
        class="p-5 bg-image"
        style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
        "
      ></div>
      <!-- Background image -->

      <div
        class="card"
        style="
          width: 50%;
          margin-left: 25%;
          margin-top: -150px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        "
      >
        <div class="card-body py-5 px-md-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h2 class="fw-bold mb-5">Create a User</h2>
              <form method="POST" action="">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example0">Username</label>
                  {{form.username}}
                  <!-- <input type="text" name="username" id="form3Example0" class="form-control" /> -->
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1"
                        >First name</label
                      >
                      {{form.first_name}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example2"
                        >Last name</label
                      >
                      {{form.last_name}}
                    </div>
                  </div>
                </div>

                <!-- Username input -->
                <!-- <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Username</label>
                  <input type="email" id="form3Example3" class="form-control" />
                </div> -->

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3"
                    >Email address</label
                  >
                  <!-- <input type="email" name="email" id="form3Example3" class="form-control" /> -->
                  {{form.email}}
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4"
                    >Enter the password</label
                  >
                  <!-- <input
                    name="password1"
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  /> -->
                  {{form.password1}}
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example5"
                    >Re-Enter the password</label
                  >
                  <!-- <input
                    name="password2"
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  /> -->
                  {{form.password2}}
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Create
                </button>

                <!-- switch to login-->
                </div>
                <div style="color: red">{{error}}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </body>
</html>
