{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script>
      // Run on page load
      window.onload = function () {
        // If sessionStorage is storing default values (ex. name), exit the function and do not restore data
        //if (sessionStorage.getItem('name') == "name") {
        //  return;
        // }

        // If values are not blank, restore them to the fields
        var position = localStorage.getItem("position");
        console.log(position);
        if (position !== null) $("#position").val(position);

        var username = localStorage.getItem("username");
        console.log(username);
        if (username !== null) $("#form3Example0").val(username);

        var first_name = localStorage.getItem("first_name");
        console.log(first_name);
        if (first_name !== null) $("#form3Example1").val(first_name);

        var last_name = localStorage.getItem("last_name");
        console.log(last_name);
        if (last_name !== null) $("#form3Example2").val(last_name);

        var email = localStorage.getItem("email");
        console.log(email);
        if (email !== null) $("#form3Example3").val(email);

        //var password1 = localStorage.getItem('password1');
        //console.log(password1);
        //if (password1 !== null) $('#form3Example4').val(password1);

        //var password2 = localStorage.getItem('password2');
        //console.log(password2);
        //if (password2 !== null) $('#form3Example5').val(password2);
      };

      // Before refreshing the page, save the form data to sessionStorage
    </script>
    <style>
      .profile-pic {
        border-radius: 100%;
        width: 200px;
        max-height: 200px;
        display: inline-block;
    }

    .circle {
      border-radius: 100% !important;
      overflow: hidden;
      border: none;
      top: 72px;
  }

  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  #id_profile_picture{
    margin-top: 15px;
  }



    </style>

    <script>
      $(document).ready(function() {

    
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }
        
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    
        $("#id_profile_picture").on('change', function(){
            readURL(this);
        });
        
        $(".upload-button").on('click', function() {
           $(".file-upload").click();
        });
    });
    </script>
  </head>

  <body>
    {% include "navbar.html" %}
    <!-- Section: Design Block -->
      <!-- Background image -->
      <div
        class="p-5 bg-image"
        style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
        "
      ></div>
      <!-- Background image -->

      <div
        class="card"
        style="
          width: 40%;
          margin-left: 30%;
          margin-top: -250px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        "
      >
      <div class="flex-container justify-content-center">
        <div class="flex-item">
          <section class="text-center">
            <h1 style="padding-bottom:15px;">Edit your Profile</h1>
          </section>
          <form method="POST" action="" enctype="multipart/form-data">
            <div>
              {% csrf_token %}
               <!-- profile photo -->
               <div class="form-outline mb-4" style="text-align: center;">
                <!-- <label class="form-label" for="form3Example5"
                  >Profile photo</label
                > -->
                <div class="circle">

                {% if request.user.employee.profile_picture %} 
                <img class="profile-pic" src="{{request.user.employee.profile_picture.url}}" alt="profile picture">
                {% else %}
                <img class="profile-pic" src="{% static 'images/default_prof.png' %}" alt="profile picture">
                {% endif %}  
              </div>
              <div class="p-image">
                {{form.profile_picture}}
              </div>
                <br>
              </div>
            </div>
              <!-- first & last name -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1"
                      >First name</label
                    >
                    {{form.first_name}}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2"
                      >Last name</label
                    >
                    {{form.last_name}}
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
                {{form.email}}
              </div>
              <!-- mobile number -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4"
                  >Mobile number</label
                >
                {{form.mobile_number}}
              </div>
              <!-- position -->
              <section class="text-center">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example6">Position</label>
                  <!-- <input type="email" name="email" id="form3Example3" class="form-control" /> -->
                  <select id="position" name="position" required style="width:85%; color:rgb(93, 87, 87)">
                    <option value="" selected disabled>
                      Select your position
                    </option>
                    <optgroup label="Accouning">
                      <option value="Auditor">Auditor</option>
                      <option value="CFO">CFO</option>
                      <option value="Payroll specialist">
                        Payroll specialist
                      </option>
                      <option value="Tax specialist">Tax specialist</option>
                    </optgroup>
                    <optgroup label="Marketing">
                      <option value="Advertising manager">
                        Advertising manager
                      </option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Public relations officer">
                        Public relations officer
                      </option>
                      <option value="Market analyst">Market analyst</option>
                    </optgroup>
                    <optgroup label="Human resources">
                      <option value="Compensation specialist">
                        Compensation specialist
                      </option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Personnel manager">
                        Personnel manager
                      </option>
                      <option value="Market analyst">Market analyst</option>
                      <option value="Recruiter">Recruiter</option>
                      <option value="Training manager">Training manager</option>
                    </optgroup>
                    <optgroup label="Production">
                      <option value="Chief inspector">Chief inspector</option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Market analyst">Market analyst</option>
                      <option value="Recruiter">Recruiter</option>
                      <option value="Machinist">Machinist</option>
                      <option value="Plant manager">Plant manager</option>
                      <option value="Quality control manager ">
                        Quality control manager
                      </option>
                    </optgroup>
                    <optgroup label="IT">
                      <option value="Communications analyst">
                        Communications analyst
                      </option>
                      <option value="Database administrator">
                        Database administrator
                      </option>
                      <option value="E_business specialist">
                        E-business specialist
                      </option>
                      <option value="PC support specialist">
                        PC support specialist
                      </option>
                      <option value="Programmer">Programmer</option>
                      <option value="Site manager">Site manager</option>
                    </optgroup>
                    <optgroup label="Sales">
                      <option value="Branch manager">Branch manager</option>
                      <option value="Retail manager">Retail manager</option>
                      <option value="Telemarketer">Telemarketer</option>
                    </optgroup>
                  </select>
                </div>
              </section>
            <section class="text-center">
              <a href="{% url 'password-change' %}">Change Password</a>
              <input type="submit" value="Save changes" />
            </section>
            <div style="color: red">{{error}}</div>
          </form>
        </div>
      </div>
      </div>
    </section>

    <script>
      window.onbeforeunload = function () {
        localStorage.setItem("position", $("#position").val());
        localStorage.setItem("username", $("#form3Example0").val());
        localStorage.setItem("first_name", $("#form3Example1").val());
        localStorage.setItem("last_name", $("#form3Example2").val());
        localStorage.setItem("email", $("#form3Example3").val());
        localStorage.setItem("password1", $("#form3Example4").val());
        localStorage.setItem("password2", $("#form3Example5").val());
      };
    </script>
  </body>
</html>
