{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Attendance System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .flex-container {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }

    </style>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
    {% if fltr == 'sif' %}
    <script>
        $(document).ready(()=>{
            $("#status").val('Inactive');
        }); 
    </script>
    {% elif fltr == 'saf' %} 
    <script>
        $(document).ready(()=>{
            $("#status").val('Active');
        }); 
    </script>
    {% else %}
    <script>
        $(document).ready(()=>{
            $("#status").val('All');
        }); 
    </script>
    {% endif %}
 
</head>

<body>
    <div>
        {% include "navbar.html" %}
    </div>
    <div class="flex-container">
        <div>
            {% include 'navbar2.html' %}
        </div>
        <div>
            <h1>
                Employee list
            </h1>
            <a href="{% url 'create-user' %}">
                <button>+Add New Employee</button>
            </a>
            <a href="{% url 'export-excel' fltr %}">
                <button>Export Excel</button>
            </a>
            <!-- <a href="{% url 'status-active-filter' %}"> -->
                <!-- <button>Filter</button> -->
            <!-- </a> -->

            <!-- <form name="form1" id="form1" action=""> -->
                Filters:    Status:
                <select name="status" id="status">
                    <option data-url="{% url 'employees_list' %}" value="All">All</option>
                    <option data-url="{% url 'status-inactive-filter' %}" value="Active">Active</option>
                    <option data-url="{% url 'status-active-filter' %}" value="Inactive">Inactive</option>
                  </select>
                  <!-- <input type="submit" value="Apply">   -->
                  <button onclick="getOption()"> Apply </button>
                  <p>
                    <span class="output"></span>
                </p>
                <!-- </form> -->
            <!-- <br><br><br><br><br><br> -->
            <table>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for emps in employees %}
                <tr>
                    <td>
                        <img src="{{emps.profile_picture.url}}" width="100" height="100">         
                    </td>
                    <td>{{emps.first_name}} {{emps.last_name}}</td> 
                    <td>{{emps.email}}</td> 
                    <td>{{emps.mobile_number | default_if_none:""}}</td>
                    <form action="" method="POST">
                        {% if emps.user.is_active %}            
                        <td>
                            <a href="{% url 'change-status' emps.id %}">
                                Active
                            </a>
                        </td>
                            </label>
                        {% else %}
                        <td>
                            <a href="{% url 'change-status' emps.id %}">
                                Inactive
                            </a>
                        </td>
                        {% endif %}
                        <td>
                    </form>
                        <a href="{% url 'edit-user' emps.id %}">
                            <button>Edit</button>
                        </a>
                        <a href="{% url 'change-pass' emps.id %}">
                            <button>Change Password</button>
                        </a>
                        <a href="{% url 'delete-user' emps.id %}">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $("#status").prop("selectedIndex", 1);
        function getOption() {
            selectElement = document.querySelector('#status');
            output = selectElement.value;
            if (output == 'Active'){
                location.href = "{% url 'status-active-filter' %}"
            }
            else if (output == 'Inactive')
            {  
                location.href = "{% url 'status-inactive-filter' %}"
            }
            else
            {
                location.href = "{% url 'employees_list' %}"
            }
        }
        </script>

</body>

</html>