<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
</head>

<style>
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    padding-top: 15px;
  }
</style>

<body>
  {% include "navbar.html" %}
  <section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
          "></div>

    <div class="card" style="
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: -240px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
          ">
      <h1>Face Recognition</h1>
      <div class="flex-container">
        <div style="margin-bottom: 25px;">
          <img>
        </div>
      </div>
</body>

</html>