<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Face Recognition</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<style>
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #id_face_rec {
    display: none;
  }
</style>

<script>
  /* JS comes here */
  (function () {

    var width = 320; // We will scale the photo width to this
    var height = 0; // This will be computed based on the input stream

    var streaming = false;

    var video = null;
    var canvas = null;
    var photo = null;
    var startbutton = null;

    function startup() {
      video = document.getElementById("video");
      canvas = document.getElementById("canvas");
      photo = document.getElementById("photo");
      startbutton = document.getElementById("startbutton");

      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: false,
        })
        .then(function (stream) {
          video.srcObject = stream;
          video.play();
        })
        .catch(function (err) {
          console.log("An error occurred: " + err);
        });

      video.addEventListener(
        "canplay",
        function (ev) {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);

            if (isNaN(height)) {
              height = width / (4 / 3);
            }

            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;
          }
        },
        false
      );

      startbutton.addEventListener(
        "click",
        function (ev) {
          takepicture();
          ev.preventDefault();
        },
        false
      );

      clearphoto();
    }

    function clearphoto() {
      var context = canvas.getContext("2d");
      context.fillStyle = "#AAA";
      context.fillRect(0, 0, canvas.width, canvas.height);

      var data = canvas.toDataURL("image/png");
      photo.setAttribute("src", data);
    }

    function takepicture() {
      var context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);

        var data = canvas.toDataURL("image/png");
        photo.setAttribute("src", data);
      } else {
        clearphoto();
      }
    }

    window.addEventListener("load", startup, false);
  })();
</script>

<body>
  {% include "navbar.html" %}
  <section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
        "></div>

    <div class="card" style="
            width: 30%;
            margin-left: 35%;
            margin-right: 25%;
            margin-top: -240px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
          ">
      <h1>Face Recognition</h1>

      <div class="contentarea">
        <div class="camera">
          <video id="video">Video stream not available.</video>
        </div>
        <div><button  type="button" class="dark-blue-button" role="button" id="startbutton">Take photo</button></div>
        <canvas id="canvas"></canvas>
        {% if page == 'reg' %}
        <h5 style="color: red;">{{msg}}</h5>
        {% endif %}
        <div class="output">
          <img id="photo" alt="The screen capture will appear in this box." hidden>
        </div>
        <!-- <a id="download" download="myImage.jpg" href="" onclick="download_img(this);">Download to myImage.jpg</a> -->
      </div>
      <form method="POST" action="" id="form1">
        {%csrf_token %}
        <input id="pic" name="pic" value="klmmk" hidden>
        <button type="submit" name="submit" value="submit" onclick="save()">
          submit
        </button>
      </form>
</body>
<script> function save() {
    console.log("hello");
    var canvas = document.getElementById('canvas');
    document.getElementById('pic').value = canvas.toDataURL('image/png');
    document.forms["form1"].submit();

  } 
</script>
<script>
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  var ox = canvas.width / 2;
  var oy = canvas.height / 2;
  ctx.font = "42px serif";
  ctx.textAlign = "center";
  ctx.textBaseline = "middle";
  ctx.fillStyle = "#800";
  ctx.fillRect(ox / 2, oy / 2, ox, oy);


  download_img = function (el) {
    // get image URI from canvas object
    var imageURI = canvas.toDataURL("image/jpg");
    console.log(imageURI)
    el.href = imageURI;
  };

  function getPic() {
    var imageURI = canvas.toDataURL("image/jpg");
    var pic = document.getElementById("pic");
    pic.value = imageURI;
  }
</script>

</html>