{% block no_menu %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}

  <style>
    .grid-container {
      display: grid;
      grid-template-columns: 100px auto;
    }
    .grid-item {
      text-align: center;
    }
  </style>

</head>

<body>
  <!-- Section: Design Block -->
  <section class="text-center">
    
    <div class="grid-item">
      {% include "navbar.html" %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="grid-container">
      <div class="grid-item">
        {%include "navbar2.html" %}
      </div>

      <div class="grid-item">
        <!-- Background image -->

        <div class="p-5 bg-image" style="
              background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
              height: 212px;
              width:inherit;
            ">

        </div>
        <!-- Background image -->
        
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
        <!--Password reset sent-->

        <h2>Home Page</h2>
        </div>
      </div>
    </div>
    {% else %}
      <div class="grid-item">
        <!-- Background image -->

        <div class="p-5 bg-image" style="
              background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
              height: 212px;
              width:inherit;
            ">

        </div>
        <!-- Background image -->
        
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
        <!--Password reset sent-->

        <h2>Home Page</h2>
        </div>
      </div>
    {% endif %}
</body>
{% endblock %}