{% block no_menu %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>

  <body>
    {% include "navbar.html" %}
    <section class="text-center">
      <div
        class="p-5 bg-image"
        style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 212px;
          width: inherit;
        "
      ></div>

      <div
        class="card mx-4 mx-md-5 shadow-5-strong"
        style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        "
      >
        <h2>Home Page</h2>
      </div>
    </section>
  </body>
  {% endblock %}
</html>
