{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    <!-- navbar -->
    <!-- <ul style="
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334180;
  ">
      <li style="float: left">
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo"
          weight="50"
          height="50"
        />
      </li>
    </ul> -->
      <!-- Background image -->
      <div
        class="p-5 bg-image"
        style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
        "
      ></div>

      <div
        class="card"
        style="
          width: 36%;
          margin-left: 32%;
          margin-top: -150px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        "
      >
        <div class="card-body py-5 px-md-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <section class="text-center">
                <h2 class="fw-bold mb-5">Log in</h2>
              </section>
              {% for message in messages %}
              <p id="messages">{{message}}</p>
              {% endfor %}	
              <form method="POST" action="">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="form-outline mb-4">
                    <!-- Username input -->
                    <label class="form-label" for="form3Example3">Username</label>
                    {{form.username}}

                    <!-- Password input -->
                    <label class="form-label" for="form3Example4">Password</label>
                    {{form.password}}
                  </div>
                </div>
            
                <!-- Checkbox -->
                <!-- <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example33"
                    checked
                  />
                  <label class="form-check-label" for="form2Example33">
                    remember me
                  </label>
                </div> -->

                <!-- Submit button -->
                <section class="text-center">
                  <button type="submit" style="background-color: #334180;">
                    Log in
                  </button>

                  <!-- switch to sign up-->
                  <br />
                  Don't have an account?                   
                  <a href="{% url 'register' %}">Sign Up</a>
                  <br />
                  <a href="{% url 'password_reset' %}">Forgot password?</a>
                </section>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
