<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Attendance System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div
          class="p-5 bg-image"
          style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
          "
        ></div>
        <!-- Background image -->
  
        <div
          class="card mx-4 mx-md-5 shadow-5-strong"
          style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
          "
        >
        <!--Password reset sent-->
        <div>
            <h2>Password reset sent</h2>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
</body>
</html>