<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
    <title>Reset Password</title>

  </head>
  <body>
    {% include "navbar.html" %}
    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div
          class="p-5 bg-image"
          style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
          "
        ></div>
        <!-- Background image -->
  
        <div
          class="card"
          style="
            width: 40%;
            margin-left: 30%;
            margin-top: -150px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
          "
        >
    <!--Reset Password-->
    <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2>Reset Password</h2>
            Enter your email address below.<br>We'll email instructions for setting a new one.
            <form method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3"></label
                    >
                    <input type="email" name="email" id="form3Example3" class="form-control" />
                </div>

                {% csrf_token %}
                <br/>
                
                <!-- Submit button -->
                <button type="submit" style="background-color: #334180;">
                    Send email
                  </button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>
