{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Reset Password</title>

</head>

<body>
  {% include "navbar.html" %}
  <!-- Section: Design Block -->
  <section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card" style="
          width: 50%;
          margin-left: 25%;
          margin-top: -150px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <!--Password Reset Complete-->
      <div>
        <h2>Password reset complete</h2>
        <hr>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Log in</a>
      </div>
</body>
{% endblock %}

</html>