<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <style>
    li {list-style-type: none;}
  </style>
  <body>
    {% include "navbar.html" %}
    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div
          class="p-5 bg-image"
          style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
          "
        ></div>
        <!-- Background image -->
  
        <div
          class="card"
          style="
            width: 50%;
            margin-left: 25%;
            margin-top: -150px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
          "
        >
    <!--Reset Password-->
    <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2>Password Reset Confirm</h2>
            <form method="POST">
                {% csrf_token %}
                <!-- Password input -->
                <div class="form-outline mb-4">
                    Enter your new password.
                    <label class="form-label" for="form3Example3"></label
                    >
                    <input name="new_password1" type="password" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example4"
                    >Re-Enter the password</label
                  >
                  <input
                    name="new_password2"
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  />
                </div>
                
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Reset password
                </button>
            </form>
            {% for message in messages %}
            <p id="messages" style="list-style: none;">{{message}}</p>
            {% endfor %}	
          </div>
        </div>
      </div>
</body>
</html>