{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
    <title>Sign Up</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      // Run on page load
      window.onload = function () {
        // If sessionStorage is storing default values (ex. name), exit the function and do not restore data
        //if (sessionStorage.getItem('name') == "name") {
        //  return;
        // }

        // If values are not blank, restore them to the fields
        var position = localStorage.getItem("position");
        console.log(position);
        if (position !== null && position != "undefined")
          $("#position").val(position);

        var username = localStorage.getItem("username");
        console.log(username);
        if (username !== null && username != "undefined")
          $("#form3Example0").val(username);

        var first_name = localStorage.getItem("first_name");
        console.log(first_name);
        if (first_name !== null && first_name != "undefined")
          $("#form3Example1").val(first_name);

        var last_name = localStorage.getItem("last_name");
        console.log(last_name);
        if (last_name !== null && last_name != "undefined")
          $("#form3Example2").val(last_name);

        var email = localStorage.getItem("email");
        console.log(email);
        if (email !== null && email != "undefined")
          $("#form3Example3").val(email);

        //var password1 = localStorage.getItem('password1');
        //console.log(password1);
        //if (password1 !== null) $('#form3Example4').val(password1);

        //var password2 = localStorage.getItem('password2');
        //console.log(password2);
        //if (password2 !== null) $('#form3Example5').val(password2);
      };

      // Before refreshing the page, save the form data to sessionStorage
    </script>
  </head>
  <body>
    <!-- navbar -->
    <!-- <ul
      style="
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #334180;
      "
    >
      <li style="float: left">
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo"
          weight="50"
          height="50"
        />
      </li>
    </ul> -->

      <!-- Background image -->
      <div
        class="p-5 bg-image"
        style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
        "
      ></div>
      <!-- Background image -->

      <div
        class="card"
        style="
          width: 40%;
          margin-left: 30%;
          margin-top: -250px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        "
      >
        <div class="card-body py-5 px-md-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <section class="text-center">
                <h2 class="fw-bold mb-5">Sign up now</h2>
              </section>

              <form method="POST" action="">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example0">Username</label>
                  {{form.username}}
                  <!-- <input type="text" name="username" id="form3Example0" class="form-control" /> -->
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1"
                        >First name</label
                      >
                      {{form.first_name}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example2"
                        >Last name</label
                      >
                      {{form.last_name}}
                    </div>
                  </div>
                </div>

                <!-- Username input -->
                <!-- <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Username</label>
                  <input type="email" id="form3Example3" class="form-control" />
                </div> -->

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3"
                    >Email address</label
                  >
                  <!-- <input type="email" name="email" id="form3Example3" class="form-control" /> -->
                  {{form.email}}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example6">Position</label>
                  <!-- <input type="email" name="email" id="form3Example3" class="form-control" /> -->
                  <select
                    id="position"
                    name="position"
                    required
                    style="width: 80%"
                    required
                  >
                    <option value="" selected disabled>
                      Select your position
                    </option>
                    <optgroup label="Accouning">
                      {% for pos in positions %}
                      {% if pos.department == 'Accouning'%}
                      <option value="{{pos.name}}">
                        {{pos.name}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      <option value="Auditor">Auditor</option>
                      <option value="CFO">CFO</option>
                      <option value="Payroll specialist">
                        Payroll specialist
                      </option>
                      <option value="Tax specialist">Tax specialist</option>
                    </optgroup>
                    <optgroup label="Marketing">
                      {% for pos in positions %}
                      {% if pos.department == 'Marketing'%}
                      <option value="{{pos.name}}">
                        {{pos.name}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      <option value="Advertising manager">
                        Advertising manager
                      </option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Public relations officer">
                        Public relations officer
                      </option>
                      <option value="Market analyst">Market analyst</option>
                    </optgroup>
                    <optgroup label="Human resources">
                      {% for pos in positions %}
                      {% if pos.department == 'Human resources'%}
                      <option value="{{pos.name}}">
                        {{pos.name}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      <option value="Compensation specialist">
                        Compensation specialist
                      </option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Personnel manager">
                        Personnel manager
                      </option>
                      <option value="Market analyst">Market analyst</option>
                      <option value="Recruiter">Recruiter</option>
                      <option value="Training manager">Training manager</option>
                    </optgroup>
                    <optgroup label="Production">
                      {% for pos in positions %}
                      {% if pos.department == 'Production'%}
                      <option value="{{pos.name}}">
                        {{pos.name}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      <option value="Chief inspector">Chief inspector</option>
                      <option value="Brand manager">Brand manager</option>
                      <option value="Market analyst">Market analyst</option>
                      <option value="Recruiter">Recruiter</option>
                      <option value="Machinist">Machinist</option>
                      <option value="Plant manager">Plant manager</option>
                      <option value="Quality control manager ">
                        Quality control manager
                      </option>
                    </optgroup>
                    <optgroup label="IT">
                      {% for pos in positions %}
                      {% if pos.department == 'IT'%}
                      <option value="{{pos.name}}">
                        {{pos.name}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      <option value="Communications analyst">
                        Communications analyst
                      </option>
                      <option value="Database administrator">
                        Database administrator
                      </option>
                      <option value="E_business specialist">
                        E-business specialist
                      </option>
                      <option value="PC support specialist">
                        PC support specialist
                      </option>
                      <option value="Programmer">Programmer</option>
                      <option value="Site manager">Site manager</option>
                    </optgroup>
                    <optgroup label="Sales">
                      <option value="Branch manager">Branch manager</option>
                      <option value="Retail manager">Retail manager</option>
                      <option value="Telemarketer">Telemarketer</option>
                    </optgroup>
                  </select>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4"
                    >Enter the password</label
                  >
                  <!-- <input
                    name="password1"
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  /> -->
                  {{form.password1}}
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example5"
                    >Re-Enter the password</label
                  >
                  <!-- <input
                    name="password2"
                    type="password"
                    id="form3Example4"
                    class="form-control"
                  /> -->
                  {{form.password2}}
                </div>

                <!-- Submit button -->
                <section class="text-center">
                  <button type="submit" style="background-color: #334180;">
                    Sign up
                  </button>

                  <!-- switch to login-->
                  <br />
                  Already a member?
                  <a href="{% url 'login' %}">Login</a>
                  <br />
                </section>
                <!-- Register buttons -->
                <!-- <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div> -->
                <div style="margin-top:5%;">
                  <p id="msg"></p>
              </div>
                <div style="width: 100%; text-align: center">
                  <div
                    style="
                      color: red;
                      text-align: left;
                      display: inline-block;
                      margin: 0 auto;
                      padding: 3px;
                    "
                  >
                    <ul>
                      {% for error in errors %}
                      <li>{{error}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
    <!-- <script>
      window.onbeforeunload = function () {
        localStorage.setItem("position", $("#position").val());
        localStorage.setItem("username", $("#form3Example0").val());
        localStorage.setItem("first_name", $("#form3Example1").val());
        localStorage.setItem("last_name", $("#form3Example2").val());
        localStorage.setItem("email", $("#form3Example3").val());
        localStorage.setItem("password1", $("#form3Example4").val());
        localStorage.setItem("password2", $("#form3Example5").val());
      };
    </script> -->

  
  </body>
</html>
