{% extends 'main.html' %}

{% block content %}
<div>
    <h1>View Profile</h1>
    <label>Username: </label>
    {{user.username}}
    <br>
    <label>First name: </label>
    {{user.employee.first_name}}
    <br>
    <label>Last name: </label>
    {{user.employee.last_name}}
    <br>
    <label>Email: </label>
    {{user.employee.email}}
    <br>
    <label>Mobile number: </label>
    {{user.employee.mobile_number | default_if_none:"" }}
    <br>
    <a href="{% url 'edit-profile' %}">Edit Profile</a>
</div>
{% endblock %}